.grid {
    width: 300px;
    height: 300px;
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
};

.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background-color: magenta;
    border-radius: 10px;
}

.shooter {
    background-color: blueviolet;
}

.laser {
    background-color: orange;
}

.boom {
    background-color: red;
}